<h1><%= @article.title %></h1>

<p><%= @article.body %></p>

<%= link_to 'Edit Article', edit_article_path(@article) %><br>

<%= link_to 'DELETE', article_path(@article),
            method: :delete,
            data: { confirm: 'Delete this article?'}%><br>

<%= link_to 'Back to Home', :root %>

<h2>Comments</h2>
<% #render @article.comments %>

<h3>All comments:</h3>
<%= render @article.comments %>

<h3>Add a comment:</h3>
<%= render 'comments/form' %>

